[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
django-select2 = "*"
django-debug-toolbar = "*"
djangorestframework-xml = "*"
djangorestframework-csv = "*"
djangorestframework-yaml = "*"
bleach = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
supabase = "*"
python-dotenv = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.13"
